.git
.github
.DS_Store
**/.DS_Store
**/node_modules
**/.next
**/dist
**/.data
**/coverage
**/*.log
**/.env
**/.env.*
!**/.env.example
ios-app
Report.md
apps/api/docker-compose.yml
apps/api/Dockerfile
apps/api/docker-entrypoint.sh
**/src/**/*.test.ts
**/*.md
!apps/api/README.md
