# Dependencies
node_modules/
**/node_modules/

# Builds / caches
dist/
**/.next/
**/out/
**/.turbo/
**/.data/
coverage/
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example
!.env.docker.example
!**/.env.example

# Logs & OS
*.log
.DS_Store
**/.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Generated
apps/api/src/generated/
apps/admin/app/generated/

# Package manager
.pnpm-store/
